* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.nav-bar {
  position: fixed;
  width: 98vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #691627;
  height: 50px;
  padding: 0 10px;
}

.brand-name,
a {
  color: #fff;
  text-decoration: none;
}

.hero-section {
  display: flex;
}

.hero-img {
  width: 50vw;
  height: 100vh;
}

.hero-cont {
  font-size: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 36vh 30px;
}

.hero-cont p {
  display: inline-block;
  width: 80%;
  margin-bottom: 10px;
}

.btn {
  width: 100px;
  height: 30px;
  background-color: rgb(18, 150, 18);
  border-radius: 5px;
  color: #fff;
  border-width: 0px;
  margin: 0px 10px;
}

.btn:hover {
  background-color: darkgreen;
}
.title {
  color: darkred;
  font-weight: 750;
}

.developer-name {
  text-align: center;
  position: relative;
  bottom: 30px;
}
